<launch>
  <!-- Listen to messages from joysicks -->
  <node pkg="joy" name="joy_node" type="joy_node"/>

  <!-- Launch a map from the maps folder-->
  <arg name="map" default="$(find localization)/maps/stata_basement.yaml"/>
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map)"/>

  <!-- Launch LaserScan combiner-->
  <node pkg ="wall_follower" name ="scan_combiner" type="scan_combiner.py" output="screen">
    <param name="sim" value="False"/>
    <param name="raw_scan_topic" value="/scan"/>
    <param name="scan_topic" value="/full_scan"/>
  </node>

  <!-- Launch particle filter -->

  <node pkg="localization-solution" type="particle_filter.py" name="particle_filter" output="screen">
    <rosparam command="load" file="$(find localization-solution)/params.yaml"/>
    <param name="particle_filter_frame" value="/base_link"/>
    <param name="map_topic" value="/map"/>
    <param name="scan_topic" value="/full_scan"/>
    <param name="odom_topic" value="/vesc/odom"/>
    <param name="angle_step" value="11"/>
    <param name="num_beams_per_particle" value="100" />
  </node>
  
  <!-- Launch pure pursuit -->
  <node pkg="lab6" type="pure_pursuit.py" name="Trajectory_follower" output="screen">
		<param name="odom_topic" value="/pf/pose/odom"/>
	</node>

  <!-- Launch path planning -->
  <node pkg="lab6" type="path_planning.py" name="Trajectory_planner" output="screen">
		<param name="odom_topic" value="/pf/pose/odom"/>
	</node>

</launch>
